.title span{
   color:#563d7c;
}

#text{
  opacity: 10;
}
#event-button {
  border: none;
  background:#fff !important;
  cursor: pointer;  
  border:2px solid #333;
  padding: 10px;
  margin-top:20px;
}

.gauntlet{
  width:50%;
  text-align: center;
}

#event-button:focus{
  outline:none;

}